<nav class="navbar navbar-fixed-top navbar-light bg-faded">
    <div class="container">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse"
                data-target="#exCollapsingNavbar2">
            &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
            <a class="navbar-brand" href="#logo" style="display: inline-flex">
              <img src="/images/logo_navbar.png">
            </a>

            <ul class="nav navbar-nav  pull-right">
                <li class="nav-item">
                    <a class="nav-link" href="#intro">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#children">La maison et les enfants</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
