---
layout: default
---

<section id="intro">
    <h3 class="pull-right">
      Action <br/>
      Solidarité <br/>
      Enfants du Yatenga</h3>
</section>

<section id="keys">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="key">
          <div class="big-img">
            <i class="fa fa-child"></i>
          </div>
          <p>
            La Maison Marie Naëlle est une pouponnière où vivent à ce jour 15 enfants.
            Cette pouponnière, située à OUAHIGOUYA, dans le nord du Burkina Faso, est gérée par l'association ASEY depuis 2004
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="key">
          <div class="big-img">
            <i class="fa fa-globe"></i>
          </div>
          <p>
            Le BURKINA FASO est un petit pays d’Afrique de l’Ouest en marge du Sahel, sans accès
            maritime, enclavé entre la Mali, le Niger, le Togo, le Bénin, le Ghana et la Côte d’Ivoire. Ses seules ressources sont un peu de coton et d’or.
            Il fait partie des 5 pays les plus pauvres du monde.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="key">
          <div class="big-img">
            <i class="fa fa-gift"></i>
          </div>
          <p>
            C’est grâce à vos dons et parrainages que toutes ces actions peuvent être menées et que nos petits ont
            retrouvé une chance, d’abord de survie, puis de grandir entourés de toute notre attention.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div id="google_map"></div>
</div>

<section id="children">
  <div class="container">
    <h1>La maison et les enfants</h1>
  </div>

  <div class="card-group">
    <div class="card">
      <img class="card-img-top img-responsive img-fluid" src="/images/house_1.JPG" alt="Card image cap">
    </div>
    <div class="card">
      <img class="card-img-top img-responsive img-fluid" src="/images/house_2.JPG" alt="Card image cap">
    </div>
    <div class="card">
      <img class="card-img-top img-responsive img-fluid" src="/images/house_3.JPG" alt="Card image cap">
    </div>
    <div class="card">
      <img class="card-img-top img-responsive img-fluid" src="/images/house_4.JPG" alt="Card image cap">
    </div>
  </div>


  <div class="container legend">
    <p>
      La Maison Marie Naëlle est une pouponnière (orphelinat pour les plus petits) où vivent à ce jour 15 enfants de quelques jours à 11 ans.</br>
      Ces enfants nous ont été confiés par l’Action Sociale. Ils sont pour la grande majorité, orphelins de mère, enfants trouvés ou enfants de femmes déficientes mentales
    </p>
    <p>
      L’équipe sur place est composée de 12 Tanties (nounous) qui s’occupent 24h/24 des enfants, de 2 gardiens et d’un infirmier qui passe chaque soir vérifier l’état de santé des enfants et soigner les légers bobos de nos petits.<br/>
      L’équipe en France est constituée uniquement de bénévoles qui essaient de trouver suffisamment de temps pour organiser des voyages afin de gérer au mieux les problèmes de la maison.
    </p>
    <p>
      La maison, dont l’achat a été financé en 2008, par les sociétés Mer Montagne Vacances et Home Business de St Laurent du Var, est située dans le centre de Ouahigouya, ville du Nord du pays, proche de la frontière malienne. Elle dispose d’un grand jardin, d’une terrasse couverte, d’un séjour, de 4 chambres, de 2 salles de bains, d’une cuisine et d’une réserve dite « magasin » où sont entreposés les vivres.
    </p>
  </div>

  <div class="card-group">
    <div class="card">
      <img class="card-img-top img-responsive img-fluid" src="/images/children/awa_adama.JPG" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Awa et Adama</h4>
        <p class="card-text">Jumeaux nés en 2004</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-responsive img-fluid" src="/images/children/yassia.JPG" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Yassia</h4>
        <p class="card-text">Né en 2007</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-responsive img-fluid" src="/images/children/pierre.JPG" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Pierre</h4>
        <p class="card-text">Né en 2010</p>
      </div>
    </div>
  </div>

  <div class="card-group">
    <div class="card">
      <img class="card-img-top img-responsive img-fluid" src="/images/children/joseph.JPG" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Joseph</h4>
        <p class="card-text">Né en 2011</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-responsive img-fluid" src="/images/children/adele.JPG" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Adèle</h4>
        <p class="card-text">Née en 2011</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-responsive img-fluid" src="/images/children/matea.JPG" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Matéa</h4>
        <p class="card-text">Née en 2013</p>
      </div>
    </div>
  </div>

  <div class="card-group">
    <div class="card">
      <img class="card-img-top img-responsive img-fluid" src="/images/children/jeanne_marie.JPG" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Jeanne-Marie</h4>
        <p class="card-text">Née en 2013</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-responsive img-fluid" src="/images/children/violette.JPG" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Violette</h4>
        <p class="card-text">Née en 2013</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-responsive img-fluid" src="/images/children/augustin.JPG" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Augustin</h4>
        <p class="card-text">Né en 2013</p>
      </div>
    </div>
  </div>

  <div class="card-group">
    <div class="card">
      <img class="card-img-top img-responsive img-fluid" src="/images/children/juliette.JPG" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Juliette</h4>
        <p class="card-text">Née en 2013</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-responsive img-fluid" src="/images/children/angele.JPG" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Angèle</h4>
        <p class="card-text">Née en 2014</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-responsive img-fluid" src="/images/children/alice_agathe.JPG" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Alice et Agathe</h4>
        <p class="card-text">Jumelles nées en 2014</p>
      </div>
    </div>
  </div>

</section>

<section id="actions">
  <div class="container">
    <h1>Nos actions</h1>
  </div>

  <div class="container legend">
    <p>
      En dehors de la gestion de la pouponnière, qui reste notre priorité, grâce aux moyens dont l'association dispose, Asey engage également des actions sanitaires, médicales, sociales, de soutien alimentaire ou de soutien scolaire :
    </p>
    <ul>
      <li>
        Evacuations sanitaires avec prises en charge chirurgicale et médicale d'enfants nécessitant des interventions non réalisables au Burkina Faso.
      </li>
      <li>
        Parrainages d'enfants nécessiteux afin qu'ils puissent poursuivre leur scolarité.
      </li>
      <li>
        Prise en charge complète d'enfants souffrant de malnutritioin ou ayant des problèmes de santé en collaboration avec le Dr ZALA, le pédiatre référent de l'association, qui suit les enfants sur place.
      </li>
      <li>
        Campagne de soins dentaires infantiles
      </li>
      <li>
        Aides diverses par le biais de l'Action Sociale (fourniture de riz, prise en charge de soins, médicaments).
      </li>
      <li>
        Dépistage d'enfants ayant besoin de chirurgie cardiaque et rapatriement en collaboration avec les associations Rencontres Africaines et Aviation sans Frontières.
      </li>
      <li>
        Interventions de chirurgie plastique réparatrice au niveau de la face (fentes labiales, séquelles liées au Noma) ou au niveau de l'appareil locomoteur des membres inférieurs et supérieurs
      </li>

  </div>
</section>
